<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>853811735380-3t8a2ac88e458846pv2ngjrap4v6ct4u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.853811735380-3t8a2ac88e458846pv2ngjrap4v6ct4u</string>
	<key>API_KEY</key>
	<string>AIzaSyD3HbPPq3DVdwfFgzE-KB3uOHUrFuA8Q2w</string>
	<key>GCM_SENDER_ID</key>
	<string>853811735380</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.viktor.deepdive.flutterDeepDive</string>
	<key>PROJECT_ID</key>
	<string>flutter-deep-dive</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-deep-dive.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:853811735380:ios:006092bf9397dc3a02b6c1</string>
</dict>
</plist>